[Unit]
Description=RAID 1 and LVM on loop devices
After=local-fs.target
Before=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/raid_lvm.sh

[Install]
WantedBy=multi-user.target
